<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>

<body>
    <h1> Forgot Password Page </h1>
    <form action="" method="post">
        <div>
            <p>Insert Your Registered Email Here</p>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" placeholder="your-email@gmail.com">
        </div>

        <input type="text">
    </form>
</body>

</html>