<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Forgot Password</title>
</head>

<body>
    <h1>Forgot Password Page</h1>

    <h3>-------------------</h3>
    <div id="notification"></div>
    <h3>-------------------</h3>

    <form action="/api/v1/forgot-password" method="post">
        <div>
            <p>Insert Your Registered Email Here</p>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" placeholder="your-email@gmail.com" />
        </div>

        <input type="submit" value="submit" />
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        socket.on("notification", (data) => {
            localStorage.setItem("notification", data);
            displayNotification(data);
        });

        const storedNotification = localStorage.getItem("notification");
        if (storedNotification) {
            displayNotification(storedNotification);
            localStorage.removeItem("notification");
        }

        function displayNotification(message) {
            const divIdNotif = document.getElementById("notification");
            if (divIdNotif) {
                divIdNotif.innerHTML = "";
                const createNotif = document.createElement("p");
                createNotif.innerText = message;
                divIdNotif.appendChild(createNotif);
            }
        }

        const loginForm = document.getElementById("loginForm");
        if (loginForm) {
            loginForm.addEventListener("submit", (e) => {
                e.preventDefault();
                console.log("Form submitted!");
            });
        }
    </script>
</body>

</html>