<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
</head>

<body>
    <h1>Login Page</h1>

    <h3>-------------------</h3>
    <div id="notification"></div>
    <h3>-------------------</h3>

    <form id="loginForm" action="/api/v1/sign-in" method="post">
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" placeholder="your-email@gmail.com" />
        </div>
        <div>
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" placeholder="enter your password here" />
        </div>

        <input type="submit" value="login" />
    </form>

    <p>
        Don't have an Account?
        <a href="/api/v1/register-page"> Register Here! </a>
    </p>
    <a href="/api/v1/forgot-password-page">Forgot Password</a>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        socket.on("notification", (data) => {
            localStorage.setItem("notification", data);
            displayNotification(data);
        });

        const storedNotification = localStorage.getItem("notification");
        if (storedNotification) {
            displayNotification(storedNotification);
            localStorage.removeItem("notification");
        }

        function displayNotification(message) {
            const divIdNotif = document.getElementById("notification");
            if (divIdNotif) {
                divIdNotif.innerHTML = "";
                const createNotif = document.createElement("p");
                createNotif.innerText = message;
                divIdNotif.appendChild(createNotif);
            }
        }

        const loginForm = document.getElementById("loginForm");
        if (loginForm) {
            loginForm.addEventListener("submit", (e) => {
                e.preventDefault();
            });
        }
    </script>
</body>

</html>