<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1> Register Page </h1>

    <form action="/sign-in" method="post">
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" placeholder="your-email@gmail.com">
        </div>
        <div>
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" placeholder="enter your password here">
        </div>
        <div>
            <label for="password">Confirm Password : </label>
            <input type="c-password" name="c-password" id="c-password" placeholder="enter your password again">
        </div>

        <input type="submit" value="register">
    </form>

    <p>already have an account? <a href="login-page"> Login Here! </a> </p>
</body>

</html>