<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>

<body>
    <h1> Register Page </h1>

    <h3> ------------------- </h3>
    <div id="notification"></div>
    <h3> ------------------- </h3>


    <form action="/api/v1/sign-up" method="post">
        <div>
            <label for="email">Email : </label>
            <input type="email" name="email" id="email" placeholder="your-email@gmail.com">
        </div>
        <div>
            <label for="password">Password : </label>
            <input type="password" name="password" id="password" placeholder="enter your password here">
        </div>
        <div>
            <label for="cpassword">Confirm Password : </label>
            <input type="password" name="cpassword" id="cpassword" placeholder="enter your password again">
        </div>

        <input id="submit" type="submit" value="register">
    </form>

    <p>already have an account? <a href="/api/v1/login-page"> Login Here! </a> </p>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        socket.on("notification", (data) => {
            localStorage.setItem("notification", data);
            displayNotification(data);
        });

        const storedNotification = localStorage.getItem("notification");
        if (storedNotification) {
            displayNotification(storedNotification);
            localStorage.removeItem("notification");
        }

        function displayNotification(message) {
            const divIdNotif = document.getElementById("notification");
            if (divIdNotif) {
                divIdNotif.innerHTML = "";
                const createNotif = document.createElement("p");
                createNotif.innerText = message;
                divIdNotif.appendChild(createNotif);
            }
        }

        const loginForm = document.getElementById("loginForm");
        if (loginForm) {
            loginForm.addEventListener("submit", (e) => {
                e.preventDefault();
                console.log("Form submitted!");
            });
        }
    </script>
</body>

</html>