<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3> ------------------- </h3>
    <div id="notification"></div>
    <h3> ------------------- </h3>

    <form action="/api/v1/reset-password/<%=reset_pw_token%>" method="post">
        <div>
            <label for="password">New Password : </label>
            <input type="password" name="password" id="password" placeholder="enter your neww password here" />
        </div>
        <div>
            <label for="cpassword">Confirm New Password : </label>
            <input type="password" name="cpassword" id="cpassword" placeholder="enter your password again" />
        </div>

        <input type="submit" value="submit" />
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        socket.on('notification', data => {
            const divIdNotif = document.getElementById('notification');
            const createNotif = document.createElement('p');

            divIdNotif.innerHTML = '';

            createNotif.innerText = data;
            divIdNotif.appendChild(createNotif);
        })

    </script>
</body>

</html>