<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h3> ------------------- </h3>
    <div id="notification"></div>
    <h3> ------------------- </h3>

    <form action="/api/v1/reset-password/<%=reset_pw_token%>" method="post">
        <div>
            <label for="password">New Password : </label>
            <input type="password" name="password" id="password" placeholder="enter your neww password here" />
        </div>
        <div>
            <label for="cpassword">Confirm New Password : </label>
            <input type="password" name="cpassword" id="cpassword" placeholder="enter your password again" />
        </div>

        <input type="submit" value="submit" />
    </form>

    <script src="/socket.io/socket.io.js"></script>
    <script>
        let socket = io();

        socket.on("notification", (data) => {
            localStorage.setItem("notification", data);
            displayNotification(data);
        });

        const storedNotification = localStorage.getItem("notification");
        if (storedNotification) {
            displayNotification(storedNotification);
            localStorage.removeItem("notification");
        }

        function displayNotification(message) {
            const divIdNotif = document.getElementById("notification");
            if (divIdNotif) {
                divIdNotif.innerHTML = "";
                const createNotif = document.createElement("p");
                createNotif.innerText = message;
                divIdNotif.appendChild(createNotif);
            }
        }

        const loginForm = document.getElementById("loginForm");
        if (loginForm) {
            loginForm.addEventListener("submit", (e) => {
                e.preventDefault();
            });
        }
    </script>
</body>

</html>